
  <ion-content>
    <div class="fondo">
    <ion-card>
      <div class="centrar-boton-ionic">
        <ion-button class="back" routerLink="/login" expand="block" fill="clear" shape="round">
          <ion-icon name="arrow-back-circle-sharp"></ion-icon>
          VOLVER
        </ion-button>
      </div>
      <img class="imagen_duoc"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1024px-Logo_DuocUC.svg.png"
        alt="Logo_DuocUC">

      <ion-item>
        <ion-label position="stacked">Ingrese el correo</ion-label>
        <ion-input type="text" placeholder="Ingrese email"></ion-input>
      </ion-item>
      <ion-button type="submit" (click)="presentAlert()">Enviar</ion-button>
    </ion-card>
  </div>
  </ion-content>
