
.fondo {
    height: 100vh;
    background-size: cover;
    text-align: center;
    background-color: #acb0ec;


}


.titulo{
    
    /* height: 20%; */
    top: 30px;
    border: 0px;
    background-color: none;
}
ion-card {
    
    --background: linear-gradient(#acb0ec, #ffffff);
    margin: 0 auto;
    top: 5vh;
    height: 80vh; 
    width: 50vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .imagen_login {
        width: 40%;
    }



    ion-item {
        --background: none;

        ion-label {
            font-size: xx-large;
            font-weight: bold;
            color: rgb(0, 0, 0);
            margin-left: 20%;
            margin-bottom: 10%;
            text-align: center;
        }
        ion-input{
            font-size: x-large;
            font-weight: bold;
            color: rgb(0, 0, 0);

            text-align: center;
        }
    }

ion-button{
    margin-top: 10%;
}


}


@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}

.centrar-boton-ionic{
margin-left: 50%;
margin-bottom: 0%;
margin-top: 0%;
    
  
  }
.imagen_duoc{
    margin-top: 5px;
}  

