
.fondo {
    height: 140vh;
    background-size: cover;
    text-align: center;
    background-color: #acb0ec;
  
  
  }
  ion-content{
    background-color: #acb0ec;
  }
  
  .titulo{
    
    /* height: 20%; */
    top: 30px;
    border: 0px;
    background-color: none;
  }
  ion-card {
    
    --background: linear-gradient(#acb0ec, #ffffff);
    margin: 0 auto;
    top: 5vh;
    height: 120vh; 
    width: 100vw;
    /* display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    
    .imagen_login {
        width: 40%;
    }
  
    ion-card-header {
        ion-card-subtitle {
            font-size: x-large;
            color: black
        }
  
        ion-card-title {
            font-size: x-large;
            color: black;
        }
    }
  
    ion-item {
        --background: none;
  
        ion-label {
            font-size: large;
            font-weight: bold;
        }
    }
  
    ion-datetime{
        width: 100%;
        height:90%;
        --background: linear-gradient(#d0d3ff, #ffffff);
        font-weight: bolder;
        color: rgb(0, 0, 0);
        border-radius: 16px;
        box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
        
    }
    ion-list{
      background: none;
      p{
        background: none;
      }
    }
  }
  
  
  @media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
            
        }
    }
  }
  
  .centrar-boton-ionic{
  margin-left: 50%;
  margin-bottom: 0%;
  margin-top: 0%;
    
  
  }
  .imagen_duoc{
    margin-top: -5px;
  }  
  